section.pure-u-1-2
	h2.storylineHeading Storyline
	section.storylinewrapper
		ul.storyLine
			li(data-ng-repeat="story in storyline")
				p {{story.name}}
				ul.storyPoint
					li(data-ng-repeat="storypoint in story.storyPoints")
						p storypoint.name
section.pure-u-1-2(data-ui-view="")