section.pure-u-1-2
	h2 Storyline
	section.storylinewrapper
		ul
			li(data-ng-repeat="story in storylines")
				div
					h3 {{story.data.name}}
					p {{story.data.story}}:
					a(ui-sref='.encounter') {{story.link}}
section.pure-u-1-2(data-ui-view="")