div(data-ng-init="chapterId = chapter._id")
		div(data-ng-controller="storypointController")
				p {{chapter.name}}
				div.storypointwrapper(data-ng-repeat="storypoint in chapter.storyPoints").storypoint
						p(data-ng-click="showEncounter(storypoint)") {{storypoint.name}}