extends layout

block body
    section.pure-g-r
        section.pure-u.sidebar
            include partials/sidebar
        section.pure-u-1.main
            section.pure-u-1-2
                section.storyline
                    include partials/storyline
            section.pure-u-1-2
                section.encounterdata
                    include partials/encounterdata
