extends layout

block body
	section.pure-g-r
		section.pure-u.sidebar
			include partials/sidebar
		section.pure-u-1.main(data-ui-view)

block login
	section.login
		p {{test}}
		div.loginWrapper
			form(action="/home",method="post").loginForm
				div.loginForm.mail
					label(for="mail") Mail
						input(id="login.mail",type="text",value='',placeholder="Your mailadress here",name="mail")
					}
					}
				div.loginForm.pass
					label(for="mail") Password
						input(id="login.pass",type="text",value='',placeholder="Your password here",name="pass")