@font-face{
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans.ttf'); /* IE9 */
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"]{
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
    margin:0;
    padding:0;    
}

.wrapper{height: 100%;}

.sidebar{
    background: #34495e;
    color: white;
    text-align: center;
}

.main{
    
}

.navItems{
    list-style: none;
    padding-left: 0px;
}
    .navItems a{
        text-decoration: none;
        color: white;
    }

.storylineHeading{margin-left: 40px;}

.storyline{
    min-width: 50px;
    max-width: 500px;    
}

.chapter p{
    background-color: #2980b9;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: white;
}

.storypoint p{
    background-color: #16a085;
    padding: 10px;
    margin: 2px;
    margin-left: 45px;
    margin-right: 10px; 
    font-weight: normal;
    color: black;
}

.storytext,.rewards{
    margin: 15px;
}



.hidden{display: none;}